/* default SideBarMenu extension styling */

.sidebar-menu-container{
    padding: 5px;
    float: left;
    clear: left;
    margin: 5px;
}

.sidebar-menu-item-collapsed  .sidebar-menu{
    display: none;
}
.sidebar-menu-item-expanded {
    display: list-item;
}

.sidebar-menu-0,.sidebar-menu-1{
    margin: 0px !important;
    padding: 0px !important;
    list-style: none;
}


.sidebar-menu-item-1{
    margin: 10px 0px;
    background-color: #f2f2f2;
}

.sidebar-menu-item-1 > .sidebar-menu-item-text-container{
    border: 1px solid #aaa;
    border-bottom: 0px;
    padding: 3px;
}

.sidebar-menu-item-2{
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-bottom: 0px;
    padding: 3px !important;
    margin-bottom: 0px !important;
}

.sidebar-menu-item-text-container{
    position: relative;
}

.sidebar-menu-item-controls{
    float: right;
    color: #0645AD;
    cursor: pointer;
    min-width: 45px;
    text-align: right;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.sidebar-menu-item-1{
    border-bottom: 1px solid #aaa;
}

